*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header{
    background-color: transparent;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    top: 0;
    left: 0;
}

.header-container{
    margin: 0 10px;
}

.header-container ul{
    list-style-type: none;
}

.header-container li{
    display: inline-block;
    padding: 5px 5px;
    background-color: rgb(156, 91, 91);
    border: 1px solid transparent;
    border-radius: 5px;
}

li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.col-14 {
    display: flex;
    flex-wrap: wrap;
    height:16vh;
    padding: 80px 80px 80px 80px;
  }
  
  .col-14 img {
    padding: 30px 10px;
    text-align: center;
    width: 14%;
    height:20vh;
    flex-basis: auto;
  }
  
  .footer-container{
    width: 100%;
    padding: 120px;
  }
 
  .col-25{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  .col-50{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .col-25-1{
    display: flex;
    justify-content: flex-end;
    color: red;
    font-size: 20px;
  }

  .fa-solid{
    font-size: 25px;
  }
